@inherits LayoutComponentBase
@using Financial
@using Models.Financial
@inject NavigationManager NavigationManager
@inject IFinancialService financialService

<div class="row-layout master-view-container">
    <div class="column-layout group">
        <IgbList class="list" master_view-scope>
            <IgbListItem @onclick="@(e => Navigate(""))">
                <IgbAvatar Src="assets/Avatar13.png" Size="SizableComponentSize.Medium" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                <div slot="title">Jane Doe</div>
                <div slot="subtitle">Sales Manager</div>
                @if (_iconVisible)
                {
                    <span slot="end" class="material-icons icon">
                        keyboard_arrow_down
                    </span>
                }
            </IgbListItem>
        </IgbList>
        <IgbTree class="tree" master_view-scope>
            <IgbTreeItem Label="Home" @onclick="@(e => Navigate(""))"></IgbTreeItem>
            <IgbTreeItem Label="Quỹ">
                <IgbTreeItem Label="Thu tiền" @onclick="@(e => Navigate("member"))"></IgbTreeItem>
                <IgbTreeItem Label="Thu tiền khách hàng"></IgbTreeItem>
                <IgbTreeItem Label="Chi tiền"></IgbTreeItem>
                <IgbTreeItem Label="Trả tiền nhà cung cấp"></IgbTreeItem>
                <IgbTreeItem Label="Nộp bảo hiểm"></IgbTreeItem>
                <IgbTreeItem Label="Trả lương"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Mua hàng">
                <IgbTreeItem Label="Đơn mua hàng"></IgbTreeItem>
                <IgbTreeItem Label="Mua hàng hóa, dịch vụ"></IgbTreeItem>
                <IgbTreeItem Label="Trả lại hàng mua"></IgbTreeItem>
                <IgbTreeItem Label="Công nợ"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Bán hàng">
                <IgbTreeItem Label="Đơn đặt hàng"></IgbTreeItem>
                <IgbTreeItem Label="Bán hàng"></IgbTreeItem>
                <IgbTreeItem Label="Hàng bảo hành"></IgbTreeItem>
                <IgbTreeItem Label="Công nợ"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Kho">
                <IgbTreeItem Label="Nhập kho"></IgbTreeItem>
                <IgbTreeItem Label="Xuất kho"></IgbTreeItem>
                <IgbTreeItem Label="Lắp ráp, tháo rỡ"></IgbTreeItem>
                <IgbTreeItem Label="Kiểm kho"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Công cụ, dụng cụ">
                <IgbTreeItem Label="Ghi tăng"></IgbTreeItem>
                <IgbTreeItem Label="Ghi giảm"></IgbTreeItem>
                <IgbTreeItem Label="Kiểm kho"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Tài sản cố định">
                <IgbTreeItem Label="Ghi tăng"></IgbTreeItem>
                <IgbTreeItem Label="Ghi giảm"></IgbTreeItem>
                <IgbTreeItem Label="Kiểm kho"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Thực phẩm">
                <IgbTreeItem Label="Ghi tăng"></IgbTreeItem>
                <IgbTreeItem Label="Ghi giảm"></IgbTreeItem>
                <IgbTreeItem Label="Kiểm kho"></IgbTreeItem>
                <IgbTreeItem Label="Bóa cáo, phân tích"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Tiền lương">
                <IgbTreeItem Label="Bảng chấm công"></IgbTreeItem>
                <IgbTreeItem Label="Tổng hợp sản phẩm"></IgbTreeItem>
                <IgbTreeItem Label="Tính lương"></IgbTreeItem>
                <IgbTreeItem Label="Trả lương"></IgbTreeItem>
            </IgbTreeItem>
        </IgbTree>
        <IgbCategoryChart DataSource="financialBoxOfficeRevenue" ChartTitle="Doanh thu" IncludedProperties="@(new[] { "Franchise", "TotalWorldBoxOfficeRevenue", "HighestGrossingMovieInSeries" })" InitialSorts="TotalWorldBoxOfficeRevenue desc" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="category-chart" master_view-scope></IgbCategoryChart>
        <IgbCategoryChart DataSource="financialBoxOfficeRevenue" ChartTitle="Đơn hàng" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="category-chart" master_view-scope></IgbCategoryChart>
    </div>
    <IgbNavbar class="navbar" master_view-scope>
        <div class="row-layout group_1">
            <h6 class="h6">
            </h6>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _dropdown!.ToggleAsync(_button))" @ref="_button" class="button" master_view-scope>
                Tệp
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _dropdown1!.ToggleAsync(_button1))" @ref="_button1" class="button" master_view-scope>
                Danh mục
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _dropdown2!.ToggleAsync(_button2))" @ref="_button2" class="button" master_view-scope>
                Hệ thống
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="_dropdown" class="dropdown" master_view-scope>
                <IgbDropdownItem>
                    Nhập dữ liệu
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Xuất dữ liệu
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Nhập từ Excel
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Xuất ra Excel
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Đăng xuất
                </IgbDropdownItem>
            </IgbDropdown>
            <IgbDropdown @ref="_dropdown1" class="dropdown" master_view-scope>
                <IgbDropdownItem>
                    Tài khoản
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Cơ cấu tổ chức
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Khách hàng
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Nhà cung cấp
                </IgbDropdownItem>
                <IgbDropdownItem @onclick="@(e => Navigate("member"))">
                    Nhân viên
                </IgbDropdownItem>
                <IgbDropdownItem @onclick="@(e => Navigate("materials"))">
                    Nguyên vật liệu
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Bán thành phẩm
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Thành phẩm
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Kho
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Nhập số dư ban đầu
                </IgbDropdownItem>
            </IgbDropdown>
            <IgbDropdown @ref="_dropdown2" class="dropdown" master_view-scope>
                <IgbDropdownItem>
                    Vai trò, quyền hạn
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Quản lý người dùng
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Cài đặt
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
    </IgbNavbar>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
    private bool _iconVisible = false;
    private List<BoxOfficeRevenueType> financialBoxOfficeRevenue = new();
    private IgbButton? _button;
    private IgbButton? _button1;
    private IgbButton? _button2;
    private IgbDropdown? _dropdown;
    private IgbDropdown? _dropdown1;
    private IgbDropdown? _dropdown2;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }

    protected override async Task OnInitializedAsync()
    {
        financialBoxOfficeRevenue = await financialService.GetBoxOfficeRevenue();

        await base.OnInitializedAsync();
    }
}
