@page "/member"
@using Northwind
@using Models.Northwind
@inject INorthwindService northwindService

<div class="column-layout member-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <h6 class="h6">
                Nhân viên
            </h6>
            <div class="row-layout group_2">
                <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" @onclick="@(e => _addMember!.ToggleAsync())" class="button button_3" member-scope>
                    <span class="material-icons">
                        add
                    </span>
                    <span>Thêm mới</span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
        </div>
        <div class="row-layout group_1">
            <div class="row-layout group_3">
                <IgbInput Label="Tìm kiếm" Outlined="false" class="input" member-scope>
                    <span slot="prefix">
                        <span class="material-icons icon">
                            search
                        </span>
                    </span>
                    <span slot="suffix">
                        <span class="material-icons icon">
                            clear
                        </span>
                    </span>
                </IgbInput>
            </div>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _dropdown3!.ToggleAsync(_button3))" @ref="_button3" class="button" member-scope>
                <span>Sắp xếp</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="_dropdown3" class="dropdown" member-scope>
                <IgbDropdownItem>
                    Theo tên
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Theo năm
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
        <div class="row-layout products">
            <IgbCard Outlined="true" class="card" member-scope>
                <IgbCardMedia class="media-content" member-scope>
                    <img class="image" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                    </h3>
                    <h5 slot="subtitle">
                    </h5>
                </IgbCardHeader>
                <IgbCardContent class="body-content" member-scope>
                    <p class="typography__body-2 content">
                        Here you can add some description of the product in more details
                    </p>
                </IgbCardContent>
                <IgbCardActions class="actions-content" member-scope>
                    <IgbButton Variant="ButtonVariant.Outlined" slot="start" Size="SizableComponentSize.Large" @onclick="@(e => _editMember!.ToggleAsync())" class="button_1" member-scope>
                        Sửa
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" @onclick="@(e => _retaiMember!.ToggleAsync())" class="icon-button" member-scope>
                        <span class="material-icons">
                            remove_red_eye
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" @onclick="@(e => _deleteMember!.ToggleAsync())" class="icon-button" member-scope>
                        <span class="material-icons">
                            delete
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                </IgbCardActions>
            </IgbCard>
        </div>
    </div>
    <IgbDialog KeepOpenOnEscape="true" @ref="_addMember">
        <h5 slot="title">
            Thêm mới
        </h5>
        <div class="row-layout group_4">
            <div class="column-layout group_5">
                <img class="image_1" />
            </div>
            <div class="column-layout group_6">
                <div class="column-layout group_7">
                    <div class="row-layout group_8">
                        <IgbInput Label="Mã nhân viên" Required="true" Outlined="false" class="user-input" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Tên nhân viên" Required="true" Outlined="false" class="input_2" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbDatePicker Label="Ngày sinh" class="date-picker" member-scope></IgbDatePicker>
                    </div>
                    <div class="row-layout group_8">
                        <IgbSelect Outlined="false" Label="Tổ" class="select" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Chức vụ" class="select" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbCombo Label="Giới tính" ValueKey="Item" DisplayKey="Item" Outlined="false" SingleSelect="true" class="single-select-combo" member-scope></IgbCombo>
                    </div>
                    <div class="row-layout group_8">
                        <IgbInput DisplayType="InputType.Tel" Label="Số điện thoại" Required="true" Outlined="true" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Số CMT" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput DisplayType="InputType.Email" Label="Email" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                    </div>
                    <span class="textarea">Textarea not yet available in Blazor</span>
                </div>
                <div class="column-layout group_9">
                    <p class="typography__subtitle-2 content">
                        Images
                    </p>
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button_2" member-scope>
                        <span class="material-icons">
                            photo_camera
                        </span>
                        <span>Thêm hình ảnh</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <h5 class="content">
                    Ngân hàng
                </h5>
                <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="DisplayDensity.Cosy" RowEditable="true" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" Width="900px" class="ig-typography grid" member-scope>
                    <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
                </IgbGrid>
                <div class="row-layout group_10">
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" @onclick="@(e => _addMember!.ToggleAsync())" class="button button_4" member-scope>
                        <span class="material-icons">
                            close
                        </span>
                        <span>Thoát</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button button_5" member-scope>
                        <span class="material-icons">
                            save
                        </span>
                        <span>Lưu</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
            </div>
        </div>
        <div slot="footer"></div>
    </IgbDialog>
    <IgbDialog KeepOpenOnEscape="true" @ref="_editMember">
        <h5 slot="title">
            Sửa
        </h5>
        <div class="row-layout group_4">
            <div class="column-layout group_5">
                <img class="image_1" />
            </div>
            <div class="column-layout group_6">
                <div class="column-layout group_7">
                    <div class="row-layout group_8">
                        <IgbInput Label="Mã nhân viên" Disabled="true" Required="true" Outlined="false" class="user-input" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Tên nhân viên" Required="true" Outlined="false" class="input_2" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbDatePicker Label="Ngày sinh" class="date-picker" member-scope></IgbDatePicker>
                    </div>
                    <div class="row-layout group_8">
                        <IgbSelect Outlined="false" Label="Tổ" class="user-input" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Chức vụ" class="user-input" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbCombo Label="Giới tính" ValueKey="Item" DisplayKey="Item" Outlined="false" SingleSelect="true" class="single-select-combo_1" member-scope></IgbCombo>
                    </div>
                    <div class="row-layout group_8">
                        <IgbInput DisplayType="InputType.Tel" Label="Số điện thoại" Required="true" Outlined="true" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Số CMT" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput DisplayType="InputType.Email" Label="Email" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                    </div>
                    <span class="textarea">Textarea not yet available in Blazor</span>
                </div>
                <div class="column-layout group_9">
                    <p class="typography__subtitle-2 content">
                        Images
                    </p>
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button_2" member-scope>
                        <span class="material-icons">
                            photo_camera
                        </span>
                        <span>Thêm hình ảnh</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <h5 class="content">
                    Ngân hàng
                </h5>
                <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" Width="900px" class="ig-typography grid" member-scope>
                    <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Selectable="false"></IgbColumn>
                </IgbGrid>
                <div class="row-layout group_10">
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" @onclick="@(e => _editMember!.ToggleAsync())" class="button button_6" member-scope>
                        <span class="material-icons">
                            close
                        </span>
                        <span>Thoát</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button button_7" member-scope>
                        <span class="material-icons">
                            save
                        </span>
                        <span>Lưu</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
            </div>
        </div>
        <div slot="footer"></div>
    </IgbDialog>
    <IgbDialog CloseOnOutsideClick="true" KeepOpenOnEscape="false" @ref="_retaiMember">
        <h5 slot="title">
            Thông tin nhân viên
        </h5>
        <div class="row-layout group_4">
            <div class="column-layout group_5">
                <img class="image_1" />
            </div>
            <div class="column-layout group_6">
                <div class="column-layout group_7">
                    <div class="row-layout group_8">
                        <IgbInput Label="Mã nhân viên" Disabled="true" Required="true" Outlined="false" class="user-input" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Tên nhân viên" Disabled="true" Required="true" Outlined="false" class="input_2" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbDatePicker Label="Ngày sinh" IsDisabled="true" class="date-picker" member-scope></IgbDatePicker>
                    </div>
                    <div class="row-layout group_8">
                        <IgbSelect Outlined="false" Label="Tổ" Disabled="true" class="user-input" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Chức vụ" Disabled="true" class="user-input" member-scope>
                            <IgbSelectItem Value="1">
                                Women's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="2">
                                Men's Clothing
                            </IgbSelectItem>
                            <IgbSelectItem Value="3">
                                Children's Clothing
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbCombo Label="Giới tính" Disabled="true" ValueKey="Item" DisplayKey="Item" Outlined="false" SingleSelect="true" class="single-select-combo_1" member-scope></IgbCombo>
                    </div>
                    <div class="row-layout group_8">
                        <IgbInput DisplayType="InputType.Tel" Label="Số điện thoại" Disabled="true" Required="true" Outlined="true" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput Label="Số CMT" Disabled="true" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                        <IgbInput DisplayType="InputType.Email" Label="Email" Disabled="true" Outlined="false" class="input_3" member-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    person
                                </span>
                            </span>
                            <span slot="suffix">
                                <span class="material-icons icon">
                                    clear
                                </span>
                            </span>
                        </IgbInput>
                    </div>
                    <span class="textarea">Textarea not yet available in Blazor</span>
                </div>
                <div class="column-layout group_9">
                    <p class="typography__subtitle-2 content">
                        Images
                    </p>
                    <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button_2" member-scope>
                        <span class="material-icons">
                            photo_camera
                        </span>
                        <span>Thêm hình ảnh</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <h5 class="content">
                    Ngân hàng
                </h5>
                <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" Width="900px" class="ig-typography grid" member-scope>
                    <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Selectable="false"></IgbColumn>
                </IgbGrid>
            </div>
        </div>
        <div slot="footer"></div>
    </IgbDialog>
    <IgbDialog CloseOnOutsideClick="true" KeepOpenOnEscape="false" @ref="_deleteMember">
        <h5 slot="title">
            Xóa
        </h5>
        <p>Bạn thật sự muốn xóa nhân viên??</p>
        <div slot="footer">
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _deleteMember!.ToggleAsync())">Cancel</IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" @onclick="@(e => _deleteMember!.ToggleAsync())">OK</IgbButton>
        </div>
    </IgbDialog>
</div>

@code {
    private IgbButton? _button3;
    private IgbDropdown? _dropdown3;
    private IgbDialog? _addMember;
    private List<EmployeesType> northwindEmployees = new();
    private IgbDialog? _editMember;
    private IgbDialog? _retaiMember;
    private IgbDialog? _deleteMember;

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await northwindService.GetEmployees();

        await base.OnInitializedAsync();
    }
}
